
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <nav>
    <div class="nav">
      <div class="nav-item">
        <a routerLink="/menu/Atıştırmalık" class="link-group">Atıştırmalık</a>
        <a routerLink="/menu/Kahvaltı" class="link-group">Kahvaltı</a>
        <a routerLink="/menu/Burger" class="link-group">Burger</a>
        <a routerLink="/menu/Makarna" class="link-group">Makarna</a>
        <a routerLink="/menu/Pizza" class="link-group">Pizza</a>
        <a routerLink="/menu/Tatlılar" class="link-group">Tatlı</a>
        <a routerLink="/menu/Soğuk İçecek" class="link-group">Soğuk İçecek</a>
        <a routerLink="/menu/Sıcak İçecek" class="link-group">Sıcak İçecek</a>
      </div>
    </div>

</nav>

